body{
  padding-left: 200px;
  padding-right: 300px;
  padding-top: 20px;
}

h1{
  float: left;
  font-size: 50px;
  font-family: serif;
}
img{
  float: auto;
  width: 30%;
  height: 40%;
}
p{
  font-size: 25px;
  font-family: serif;

}
.warning{
border: hidden;
background: red;
background-clip: content-box;
color: white;
font-family: serif;
}
.box{
  border-style: ridge;
  border-left: white;
  border-right: white;
  font-family: serif;
}
.highlight{
  background-color: red;
  color: white;
  font-family: serif;
}
.bold{
  font-weight: bold;
}
aside {
	display: block;
	float: left;
	width: 250px;
	background-color: #a29d96;
	margin-left: -30px;
}

aside blockquote {
	width: 80%;
	color: white;
	margin: 10px auto 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.9em;
}
